{% extends 'base.html.twig' %}

{% block title %}Error 404{% endblock %}

{% block monTitre %}Page non trouvée{% endblock %}

{% block body %}
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade show active" id="home">
      <p>La page demandée n'existe pas!</p>
    </div>
</div>        
{% endblock %}
